body {
    font-family: Arial, sans-serif;
}
#chatbox {
    border: 1px solid #ccc;
    height: 300px;
    overflow-y: scroll;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid #222;
}
button{
    background-color: aquamarine;
    border: 1px solid #222;
    border-radius: 20px;
    font-weight: bolder;
}
input{
    border: 1px solid #222;
    border-radius: 20px;
    font-weight: bolder;
}
